/* Masthead Styles */
#masthead {
    position: relative;
    top: 0;
    z-index: 1;
    height: 5rem;
    background: #FFF;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

#masthead .logo-menu-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background: #FFF;
}

#masthead .logo-menu-wrapper .logo-container {
    padding-left: clamp(1rem, 5vw + 2rem, 9.125rem);
}

#masthead .logo-menu-wrapper .logo-container img {
    height: auto;
    width: 13.5rem;
}

/* Primary Navigation Styles */
#primary-navigation {
    display: flex;
}

#primary-navigation .main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: clamp(1rem, 5vw + 2rem, 9.125rem);
    gap: 2.8125rem;
}

#primary-navigation .main-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-main-text);
    transition: font-weight 0.3s ease;
}

#primary-navigation .main-menu li a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Menu Button Styles */
.menu__button {
    position: absolute;
    right: 40.6px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 27.4px;
    height: 18.8px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu__button--line,
.menu__button--line::before,
.menu__button--line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu__button--line::before {
    top: -9.4px;
}

.menu__button--line::after {
    top: 9.4px;
}

/* Media Queries */
@media (max-width: $breakpoint__tablet) {
    #masthead {
        position: sticky;
    
    }
    #masthead .logo-menu-wrapper .logo-container img {
        width: 8.625rem;
    }

    #primary-navigation {
        display: none;

        &.menu-active {
            display: flex;
            position: absolute;
            top: 100%; /* Position the menu right below the parent */
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: var(--color-modal-bg);
            justify-content: center;

            .main-menu {
                flex-direction: column;
                text-align: center;
                margin-top: 18rem;
                gap: 1.125rem;

                li a {
                    font-size: 2.75rem;
                    color: var(--color-modal-text);
                }
                li a:hover {
                    font-weight: normal;
                    text-decoration: none;
                }
            }
        }
    }

    .menu__button {
        display: flex;

        &.menu-active .menu__button--line {
            background-color: transparent !important;

            &::before {
                transform: rotate(45deg) translate3d(7px, 4px, 0);
            }

            &::after {
                transform: rotate(-45deg) translate3d(8px, -6px, 0);
            }
        }
    }
}

/* Animations */
// #primary-navigation.menu-active:not(.menu-closing) {
//     animation: openMenu 0.8s ease-out forwards;
// }

.menu-closing {
    animation: closeMenu 0.5s ease-out forwards;
}

/* Animation for closing the menu (moves from left to right) */
@keyframes closeMenu {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
/* Animation for opening the menu (moves from right to left) */
@keyframes openMenu {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.nav-active {
     animation: openMenu 0.8s ease-out forwards;
}

