:root {
    // Main Colors
    --color-main-bg: #ffffff;         // Main background color
    --color-main-text: #000000;       // Main text color
  
    // Modal Menu Colors
    --color-modal-bg: #e00000;        // Modal background color
    --color-modal-text: #ffffff;      // Modal body text color
  
    // Button Colors
    --color-button-primary-bg: #d8d8d8;   // Primary button background color
    --color-button-primary-text: #000000; // Primary button text color
    --color-button-hover-bg: #000000;     // Button background color on hover
    --color-button-hover-text: #ffffff;   // Button text color on hover
    --Blues-Gray2 : #B8BBC2;
    // Form State Background Colors
    --color-form-bg-default: #ffffff;     // Default form background color
    --color-form-bg-hover: #ffd6d6;       // Form background color on hover
    --color-form-bg-active: #fe5858;      // Form background color when pressing
    --color-form-bg-selected: #e00000;    // Form background color when selected
  
    // Form State Text Colors
    --color-form-text-default: #000000;   // Default form text color
    --color-form-text-secondary: #313144; // Secondary form text color
    --color-form-text-selected: #ffffff;  // Form text color when selected
  }